<li><%= link_to "English", :controller => "locale", :action => "set", :locale => "en" %></li>
<li><%= link_to "简体", :controller => "locale", :action => "set", :locale => "zh-CN" %></li>
<li><%= link_to "繁體", :controller => "locale", :action => "set", :locale => "zh-TW" %></li>
